table, th, td, tr {
    border: 1px solid black;
 }

 table {
    width: 80%;
 }

 th, td {
     max-height: 50px;
 }

 .img_text {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    color: black;
    font-size: 2.5em;
 }

 .img_wrap:hover .img_text {
    visibility: visible;
    opacity: 1;
 }

 .header {
     color: green;
     font-size: 1.5em;
     font-weight: bold;
     text-decoration: underline;
 }

 #div1 {
     background-color: grey;
     color: white;
     margin: 10px;
     width: 150px;
     height: 60px;
     float: right;
     text-align: center;
     border-radius: 15px;
 }

 #ovs {
     background-color: orange;
     color: white
 }

 .lastrow {
     text-align: right;
     height: 30px;
     background-color: green;
 }
