<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div id="user-data" ngModelGroup="userData">
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="username" class="form-control" ngModel name="username" required>
          </div>
          <button class="btn btn-default" type="button" (click)="suggestUserName()">Suggest an Username</button>
          <div class="form-group">
            <label for="email">Mail</label>
            <input type="email" id="email" class="form-control" ngModel name="email" required email #email="ngModel">
            <span *ngIf="!email.valid && email.touched" class="help-block">Please enter a valid email!</span>
          </div>
        </div>
        <div class="form-group">
          <label for="secret">Secret Questions</label>
          <select id="secret" class="form-control" [ngModel]="defaultQuestion" name="secret">
            <option value="pet">Your first Pet?</option>
            <option value="teacher">Your first teacher?</option>
          </select>
        </div>
        <div class="form-group">
          <textarea name="questionAnswer" id="" cols="30" rows="3" [(ngModel)]="answer" class="form-control"></textarea>
        </div>
        <p>Your reply: {{answer}}</p>
        <div class="radio" *ngFor="let gender of genders">
          <label>
            <input type="radio" ngModel name="gender" [value]="gender"> {{gender}}
          </label>
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Submit</button>
      </form>
      <hr>
    </div>
  </div>
  <div class="row" *ngIf="submitted">
    <div class="col-xs-12">
      <h3>Your data</h3>
      <p>Username: {{user.username}}</p>
      <p>Mail: {{user.email}}</p>
      <p>Secret Question: {{user.secretQuestion}}</p>
      <p>Answer: {{user.answer}}</p>
      <p>Gender: {{user.gender}}</p>
    </div>
  </div>
</div>

<hr>
<br>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form #form="ngForm" (ngSubmit)="onSubmit2(form)">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" id="email2" class="form-control" ngModel name="email" required email #email2="ngModel">
          <p *ngIf="!email2.valid" class="help-block">Email is invalid</p>
        </div>
        <div class="form-group">
          <label for="subscription">Subscription</label>
          <select name="subscription" id="subscription" #subscription="ngModel" class="form-control" [ngModel]="subDefault">
            <option value="basic">Basic</option>
            <option value="advanced">Advanced</option>
            <option value="Pro">Pro</option>
          </select>
        </div>
        <p *ngIf="!subscription.valid">Subscription is invalid</p>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" #password="ngModel" class="form-control" name="password" ngModel required>
        </div>
        <p *ngIf="!password.valid">Password is invalid</p>
        <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Submit</button>
        <p *ngIf="!form.valid && form.touched">Form is invalid and was touched</p>
      </form>
    </div>
  </div>
</div>
<br>
<br>
<br>
<br>